.contact-container {
    display: flex; /* Ensure it's a flex container */
    justify-content: flex-start; /* Align to the left */
    gap: 10px; /* Space between the elements, if needed */
    align-items: center; /* Align items vertically */
    margin-bottom: 100px;
}

.resize {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.stanley {
    background-image: url('../../Stanley.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.koosha {
    background-image: url('../../Koosha.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.aley {
    background-image: url('../../Aley.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.adarsh {
    background-image: url('../../Adarsh.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.philip {
    background-image: url('../../Philip.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.center {
    display: flex;
    gap: 2px;
    align-items: center;
}

div.custom-flex {
    display: flex;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100% !important;
    width: 100% !important;
    padding: 0;
    box-sizing: border-box;
    justify-content: center !important;
}

.contact-card-button {
    fill: currentColor !important;
    color: #0fdd6f !important;
}

.external-button {
    background-color: #13AE5C; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 6px 15px; /* Smaller padding */
    font-size: 14px; /* Smaller font size */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 20px; /* Rounded corners */
    width: auto; /* Make the button width fit its content */
    display: inline-block; /* Keep the button inline */
    margin-left: 0; /* Align to the left */
    text-align: center; /* Center text inside button */
}

.external-button:hover {
    background-color: #119A4D; /* Darker green on hover */
}

/* Custom container for the button */
.button-container {
    display: flex;
    justify-content: flex-start; /* Align the button to the left */
    align-items: center; /* Vertically center the button */
    margin-top: 0px; /* Space above the button */
    margin-bottom: 100px; /* Space below the button */
}