.contact-container {
    margin-bottom: 100px;
}

.resize {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.stanley {
    background-image: url('../../public/Stanley-Bertrand.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.koosha {
    background-image: url('../../public/Gilmer-Perez.png');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.aley {
    background-image: url('../styles/contact.css/Aley Wigwe');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.adarsh {
    background-image: url('https://ca.slack-edge.com/T07U2AESUKX-U085476AH9U-826912a3ac01-512');
    background-size: cover;
    background-position: center;
    height: 250px !important;
    width: 250px !important;
}

div.custom-flex {
    display: flex;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100% !important;
    width: 100% !important;
    padding: 0;
    box-sizing: border-box;
    justify-content: center !important;
}

.contact-card-button {
    fill: currentColor !important;
    color: #13AE5C !important;
}

.external-background{
    background-color: var(--dark-theme-brown);
}

.external-button{
    background-color: var(--orange-color) !important;
    color: var(--dark-theme-brown) !important;
    border: none;
}

