.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.satsig{
overflow: hidden;
position: relative;
}
.satsig::after{
    position: absolute;
    content: '';
    background-color: white; /* make sure the color matches the background*/
    height: 50px;
    width: 50px;
    transform: translate(-50px,0px);
    animation: slide 100ms ease-in-out 10ms 8 normal forwards;
}
.dishsig{
    position: relative;
    overflow: hidden;
}
.dishsig::after{
    position: absolute;
    content: '';
    background-color: white; /* make sure the color matches the background*/
    height: 50px;
    width: 50px;
    transform: translate(-50px,0px);
    animation: slide 100ms ease-in-out 0ms 10 normal forwards;
}
img[alt="satwireless"]{
    transform: rotateX(180deg);
}
img[alt="satellite"]{
    transform: rotateZ(315deg);
}

@keyframes slide{
    0% {transform:translate(-50px,0px)}
    100% {transform:translate(-50px,50px)}
}
